:host {
  display: block;
  padding: 10px 0;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  width: 610px;
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.sidebar {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.price {
  font-weight: bold;
}
