<h2>CartListComponent</h2>
<div *ngIf="totalQuantity; else emptyCartBlock" class="cart-container">
  <div>
    <app-cart-item
      *ngFor="let product of products; trackBy: trackByItems"
      [product]="product"
      (increaseQuantity)="onIncreaseQuantity($event)"
      (decreaseQuantity)="onDecreaseQuantity($event)"
      (removeProduct)="onRemoveProduct($event)"
      appHighlight
    ></app-cart-item>
    <button mat-raised-button color="warn" (click)="onRemoveAllProducts()">
      <mat-icon>delete</mat-icon>
      Remove all products
    </button>
  </div>
  <mat-card class="sidebar">
    <span>
      {{ totalQuantity }}
      item<ng-container *ngIf="totalQuantity > 1">s</ng-container>
    </span>
    <span class="price">{{ totalSum | currency }}</span>
  </mat-card>
</div>
<ng-template #emptyCartBlock>Cart is empty.</ng-template>
