<h2>CartListComponent</h2>
<div *ngIf="cartSize; else emptyCartBlock" class="cart-container">
  <div>
    <app-cart-item
      *ngFor="let product of products; trackBy: trackByItems"
      [product]="product"
      (increaseQuantity)="onIncreaseQuantity($event)"
      (decreaseQuantity)="onDecreaseQuantity($event)"
      (removeProduct)="onRemoveProduct($event)"
      appHighlight
    ></app-cart-item>
  </div>
  <mat-card class="sidebar">
    <span>
      {{ cartSize }}
      item<ng-container *ngIf="cartSize > 1">s</ng-container>
    </span>
    <span class="price">{{ productsCost }}$</span>
  </mat-card>
</div>
<ng-template #emptyCartBlock>Cart is empty.</ng-template>
