:host {
  display: block;
  padding: 10px 0;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 300px;
  gap: 10px;
}

.price {
  font-weight: bold;
}

.sorting-header {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.order-link {
  width: 100%;
}
