<mat-card class="card">
  <mat-card-title class="title">{{ product.name | uppercase }}</mat-card-title>
  <mat-card-content>
    <p>{{ product.category }}</p>
    <ul class="types">
      <li *ngFor="let type of product.types">{{ type }}</li>
    </ul>
    <div class="price-wrapper">
      <span class="price">{{ product.price | currency }}</span>
      <span>Is available: {{ product.isAvailable }}</span>
    </div>
    <p>{{ product.description }}</p>
    <ul class="cover-types">
      <li *ngFor="let coverType of product.coverTypes">{{ coverType }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions *ngIf="product.isAvailable" class="actions">
    <button mat-raised-button appOutline="green" color="primary" (click)="onAddToCart()">Buy</button>
  </mat-card-actions>
</mat-card>
