:host {
  width: 455px;
  display: flex;
}

.content {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 15px;
}

.types {
  color: #e67a00;
}

.types,
.cover-types {
  padding-left: 0;
  gap: 10px;
  display: flex;
  list-style-type: none;
}

.cover-types {
  color: #007185;
}

.price-wrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: bold;
}

.actions {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 200px;
}
